<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title > Trade Panel </ion-title>
  </ion-navbar>
</ion-header>




<ion-content padding>
  <ion-grid>
  <ion-row>
    <ion-col col-12 col-sm-9 col-md-6 col-lg-6 col-xl-6>
     <ion-list>
	
	<ion-list-header color="light">
	Buying prices
	</ion-list-header>


  <ion-item *ngFor="let buy of buyingprice">
    {{buy}}  $
  </ion-item>
  
  <ion-item>
  <ion-label color="primary" stacked>Enter buying price</ion-label>
    <ion-input type="number" placeholder="Enter price as number"></ion-input>
  </ion-item>
  <ion-item>
<button ion-button block>Buy</button>
  </ion-item>
     </ion-list>
  
    </ion-col>
	<ion-col col-12 col-sm-9 col-md-6 col-lg-6 col-xl-6>
     <ion-list>
	
	<ion-list-header color="light">
	Selling prices
	</ion-list-header>


  <ion-item *ngFor="let sell of sellingprice">
    {{sell}}  $
  </ion-item>
  
  <ion-item>
  <ion-label color="primary" stacked>Enter selling price</ion-label>
    <ion-input type="number" placeholder="Enter price as number"></ion-input>
  </ion-item>
  <ion-item>
<button ion-button block>Sell</button>
  </ion-item>
  
     </ion-list>
  
  
    </ion-col>
	
     
	 
	 
    
  </ion-row>
  
  
  
</ion-grid>

</ion-content>
