<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title > Trade Panel </ion-title>
  </ion-navbar>
</ion-header>




<ion-content padding>
  <ion-grid>
  <ion-row>
    <ion-col col-12 col-sm-9 col-md-6 col-lg-6 col-xl-6>
     <ion-list>
	
	<ion-list-header color="light">
	Buying prices    --  (Number of shares)
	</ion-list-header>


	<div *ngIf="pricelist">
  <ion-item *ngFor="let buy of pricelist.buyerprices |slice:0:4" >
    {{buy.price}}  $  -- (10 )
  </ion-item>
  </div>
  <ion-item>
  <ion-label color="primary" stacked>Enter buying price</ion-label>
    <ion-input type="number" [(ngModel)]="newprice.buyingprice" placeholder="Enter price as number"></ion-input>
	</ion-item>
<ion-item>
	<ion-label color="primary" stacked>Enter number of shares</ion-label>
    <ion-input type="number" [(ngModel)]="newprice.buyingnumber" placeholder="Enter number of shares"></ion-input>
  
  </ion-item>
  <ion-item>
<button ion-button block (click)="enterbuyprice()">Buy</button>
  </ion-item>
     </ion-list>
  
    </ion-col>
	<ion-col col-12 col-sm-9 col-md-6 col-lg-6 col-xl-6>
     <ion-list>
	
	<ion-list-header color="light">
	Selling prices    --  (Number of shares)
	</ion-list-header>

  <div *ngIf="pricelist">
  <ion-item *ngFor="let sell of pricelist.sellerprices| slice:0:4"  >
  
  
  {{sell.price}}  $  -- (10)
  
     
  </ion-item>
  </div>
  <ion-item>
  <ion-label color="primary" stacked>Enter selling price</ion-label>
    <ion-input type="number" [(ngModel)]="newprice.sellingprice" placeholder="Enter price as number"></ion-input>
  </ion-item>
  <ion-item >
	<ion-label color="primary" stacked>Enter number of shares</ion-label>
    <ion-input type="number" [(ngModel)]="newprice.sellingnumber" placeholder="Enter number of shares"></ion-input>
  
  </ion-item>
  <ion-item>
<button ion-button block (click)="entersellprice()" >Sell</button>
  </ion-item>
  
     </ion-list>
  
  
    </ion-col>
	
     
	 
	 
    
  </ion-row>
  
  
  
</ion-grid>

</ion-content>
