
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Speakers</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="outer-content consent-list">
<ion-list>

  <ion-list-header>
    Header
  </ion-list-header>

  

  
  
</ion-list>



  <ion-list [virtualScroll]="consents">
    <ion-grid fixed>
      <ion-row align-items-stretch>

        <ion-col col-12 col-md-6 align-self-stretch align-self-center *virtualItem="let deal" approxItemHeight="457px">

		
		
		
		
				
				
		<!--ion-item class="item item-footer"> 
			
				<span ng-if="deal.data.consented=='sent'">
					<i class="icon icon-left ion-person calm"></i>
					<span>Waiting response</span>
				</span>
				<span ng-if="deal.data.consented=='accepted'">
					<i class="icon icon-left ion-thumbsup balanced"></i>
					<span>Agreed </span>
				</span>
				<span ng-if="deal.data.consented=='refused'">
					<i class="icon icon-left ion-thumbsdown assertive"></i>
					<span>Refused</span>
				</span>
				<span ng-if="deal.data.consented=='draft'">
					<i class="icon icon-left ion-edit assertive"></i>
					<span>Draft</span>
				</span>
		</ion-item -->
		
		
		
		
		
		
		
          <ion-card class="consent-card">
            <ion-card-header>
              <button ion-item detail-none (click)="goToConsentDetail(deal)">
                <ion-avatar item-start>
                  <img [src]="deal.data.profilePic" alt="Speaker profile pic">
                </ion-avatar>
                {{deal.data.title}}
              </button>
            </ion-card-header>

            <ion-card-content class="outer-content">
              <ion-list>
                
                <button ion-item (click)="goToSpeakerDetail(deal.data.title)">
                  <h3>About {{deal.data.title}}</h3>
                </button>
              </ion-list>
            </ion-card-content>

            <ion-row no-padding>
              <ion-col col-12 col-lg-auto text-center text-lg-left>
                <button ion-button clear small color="primary" icon-start (click)="goToSpeakerTwitter(deal)">
                  <ion-icon name="logo-twitter"></ion-icon>
                  Tweet
                </button>
              </ion-col>
              <ion-col col-12 col-lg-auto text-center>
                <button ion-button clear small color="primary" icon-start (click)="openSpeakerShare(deal)">
                  <ion-icon name='share-alt'></ion-icon>
                  Share
                </button>
              </ion-col>
              <ion-col col-12 col-lg-auto text-center text-lg-right>
                <button ion-button clear small color="primary" icon-start (click)="openContact(deal)">
                  <ion-icon name='chatboxes'></ion-icon>
                  Contact
                </button>
              </ion-col>
            </ion-row>

          </ion-card>

        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-list >
</ion-content>
